In [39]:
#Print all the even no from 1 to 50 using a for loop
for i in range(1,51):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [5]:
#Print numbers from 1 to 100 but stop the loop if the number is 37
for i in range(1,101):
    if i==37:
        break
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36

In [8]:
#Print numbers 1 to 50 but skip multiples of 5
for i in range(1,51):
    if i%5==0:
        continue
    print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21
22
23
24
26
27
28
29
31
32
33
34
36
37
38
39
41
42
43
44
46
47
48
49

In [9]:
#Take a number from user and print its multiplication table(1-10)
n= int(input("Enter number: "))
for i in range(1,11):
    print(n," X",i,"=", n*i)

Enter number: 6
6  X 1 = 6
6  X 2 = 12
6  X 3 = 18
6  X 4 = 24
6  X 5 = 30
6  X 6 = 36
6  X 7 = 42
6  X 8 = 48
6  X 9 = 54
6  X 10 = 60

In [18]:
#Count how many numbers between 1 to 100 are divisible by 7
count=0
for i in range(1,101):
    if i%7==0:
        count+=1
print(count)

14

In [22]:
#Print only the vowels from a string given by the user
s= input("enter word: ")
for i in s:
    if i in "AEIOUaeiou":
        print(i)

enter word: HeElo
e
E
o

In [30]:
#Given a string, print the first 5 characters only and stop
s= input("enter word: ")
count=0
for i in s:
    if count==5:
        break
    print(i, end="")
    count+=1

enter word: hellogk
hello

In [37]:
#From numbers 1 to 20, skip odd numbers and print only the square of even numbers
for i in range(1,21):
    if i%2!=0:
        continue
    print("Sqaure of", i,"=", i*i)

Sqaure of 2 = 4
Sqaure of 4 = 16
Sqaure of 6 = 36
Sqaure of 8 = 64
Sqaure of 10 = 100
Sqaure of 12 = 144
Sqaure of 14 = 196
Sqaure of 16 = 256
Sqaure of 18 = 324
Sqaure of 20 = 400

In [8]:
#Take the 10 numbers from the user and print the highest number
max=0
for i in range(2):
    n= int(input("enter number:"))
    if n>max:
        max=n
print("highest number is", max)

enter number:34
enter number:88
highest number is 88

In [42]:
#Print all characters of a string except spaces
s= input("enter word: ")
for i in s:
    if i in " ":
        continue
    print(i,end="")

enter word: hello hi
hellohi

In [47]:
#Print the sum of all numbers from 1-100 but skip numbers divisible by 3
sum=0
for i in range(1,101):
    if i%2!=0:
        continue
    sum+=i
    print( i, {sum})
print("sum=>", sum)

2 {2}
4 {6}
6 {12}
8 {20}
10 {30}
12 {42}
14 {56}
16 {72}
18 {90}
20 {110}
22 {132}
24 {156}
26 {182}
28 {210}
30 {240}
32 {272}
34 {306}
36 {342}
38 {380}
40 {420}
42 {462}
44 {506}
46 {552}
48 {600}
50 {650}
52 {702}
54 {756}
56 {812}
58 {870}
60 {930}
62 {992}
64 {1056}
66 {1122}
68 {1190}
70 {1260}
72 {1332}
74 {1406}
76 {1482}
78 {1560}
80 {1640}
82 {1722}
84 {1806}
86 {1892}
88 {1980}
90 {2070}
92 {2162}
94 {2256}
96 {2352}
98 {2450}
100 {2550}
sum=> 2550

In [57]:
#Given a list of numbers stop printing when the number 0 is found 
l=[3,4,1,0,7,9]
for i in l:
    if i==0:
        break
    print(i)

3
4
1

In [67]:
#Check if a given number is prime or not using a for loop
count=0
n= int(input("enter number:"))
for i in range(2,n):
    if n%i==0:
        count+=i
if count==0:
        print("prime",n)
else:
        print("not prime",n)

enter number:7
prime 7

In [75]:
is_prime = 1
n = int(input("enter number :"))
for i in range(2,n):
    if n%i==0:
        is_prime=0
if is_prime:
    print('prime')
else :
    print('not')

enter number :7
prime

In [76]:
#Print the factorial of a number using a for loop
n= int(input ("enter number: "))
fact=1
for i in range(1,n+1):
    fact=fact*i
print(fact)

enter number: 5
120

In [14]:
#Print the smallest number in a list
l=[10,3,8,9,7,5]
min = l[0]
for i in l:
    if i<min:
        min=i
print("smallest number is",min)

smallest number is 3

In [20]:
#Count how many vowels are in the string: "Hello Python Programmer"
s="Hello Python Programmer"
count=0
for i in s:
    if i in "AEIOUaeiou":
        count+=1
print(count)

6

In [24]:
#Print numbers 1-30; if a number is divisible by both 4 and 6, then stop.
for i in range(1,31):
    if i%4==0 and i%6==0:
        break
    print(i)

1
2
3
4
5
6
7
8
9
10
11

In [28]:
#Print only negative numbers from a given list
l=[1, -6, 7, -3, 9, -2, 4, -5]
for i in l:
    if i<0:
        print(i)

-6
-3
-2
-5

In [35]:
#Reverse a string using a for loop
s="Python"
r=""
for i in s:
    r= i+r
print("reversed string:",r)

reversed string: nohtyP

In [40]:
#Print Fibonacci series up to N terms using a for loop
n= int(input("enter number of term:"))
a=0
b=1
print("Fibonacci Series")
for i in range(n):
    print(a)
    a,b = b, a+b

enter number of term:6
Fibonacci Series
0
1
1
2
3
5